.header{
	background:black;
	height:5em;
	width:100%;
	color:white;
	padding-top:2%;
	text-align:center;
}
.form{
	padding-left:10%;
	padding-top:5%;
	
}
select{
	width:10%;
}
.value{
	border:1px solid black;
	border-radius:4px;
	height:2em;
}
option{
 	width:10em;
 }