// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.gen{
	border:0;
	border-radius:5em;
	font-size:1em;
}